//colors
$colors: ( black: #000, white: #fff, grey: #c9c9c9, dark-grey: #2d2d2d, );
//font family
$ff-roboto: "Roboto",
sans-serif;
//font weight
$font-weights: ( thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900, );
//font size
$font-sizes: ( x-small: 1.125rem, small: 1.5rem, medium: 3rem, large: 4.5rem, );