@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mx;
#hero {
    display: block;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0.7) 100%), url(../../assets/images/bg-hero.jpg);
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-position-x: left, right;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-end;
    @include mx.textColor(white);
    &>div:first-child {
        padding-left: 8rem;
        padding-bottom: 33%;
    }
    &>div:last-child {
        padding-bottom: 33%;
        padding-right: 8rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    span {
        line-height: 2;
    }
}